<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {{ font_awesome.load_css() }}
    <link rel="stylesheet"
        href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
        crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/topnav.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/home.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/footer.css') }}">
    <title>{{ title }}</title>
</head>
<body style="background-color: #fff4e7">
    <div class="topnav">
        <a class="active home" href="/">  На главную</a>
        <a class="dict" href="/dict">  К словарю</a>
    </div>
    <h2>Правила пользования словарём</h2>
    <div class="text">
        <div class="intro"><p>В словарь вошли слова, заимствованные из английского языка и употребляемые в разговорном языке современной молодёжью.</p>
        <p>Синонимы расположены в алфавитном порядке. Всё главные слова имеют жирное начертание. Синонимы, относящиеся к тому или иному слову даны через запятую.
        Помимо этого в синонимическом ряду даны и «второстепенные» слова, имеющие помету см. Например:</p>
        <p class="example"><b>БАНИТЬ</b> … блокировать, выбрасывать, запрещать. См. кикать.</p>
        <p>Ударение в иностранном слове обозначается чертой над ударной гласной. Если в иностранном слове употребительны два варианта ударения, это обязательно указывается. Например, ВА&#769;ЙБО&#769;ВЫЙ.
        После существительных указывается форма родительного падежа единственного числа. Также указывается род существительных. У прилагательных, которые стоят в именительном падеже мужского рода, приводится форма родительного падежа. У глаголов приводится их вид.
        Происхождение слов указано в квадратных скобках. Сначала следует оригинальное иностранное слово с указанием языка, затем – перевод:</p>
        <p class="example"><b>ЧИЛЛ</b>, чилла, м. [англ. chill – холод] …</p>
        <p>Знак «<=» показывает дальнейшую этимологию слова (в том числе и в собственном языке) и означает «происхождение от, из…»:</p>
        <p class="example"><b>МЕМ</b>, мема, м. [англ. meme – мем (единица значимой для культуры информации) <= др. греч. mimema – подобие]…</p>
        <p>В квадратных скобках внутри первых квадратных скобок указано уточняющее слово или словосочетание. В круглых скобках указано определение слова.
        В словаре много однокоренных слов, соответственно для таких слов перед синонимическим рядом в круглых скобках даётся слово-родоначальник после пометы см. Например:</p>
        <p class="example"><b>КРИНЖЕВАТЬ</b>, несов. (см. кринж)…</p>
        <p>Различные варианты главного слова указываются после него через знак «/»; для синонимов же в качестве варианта или дополнения всё приводится в круглых скобках. Например:</p>
        <p class="example"><b>ГО/ГОУ</b> … давай(те), идём(те), можно (может)…</p></div>
    </div>
    <div class="shortcuts">
        <p class="cut"><b>Список сокращений:</b></p>
        <p class="cut">англ. – английский</p>
        <p class="cut">др.-греч. – древнегреческий</p> <p class="cut">ж. – женский род</p> <p class="cut">искаж. – искажённый</p>
        <p class="cut">лат. – латинский</p> <p class="cut">м. – мужской род</p> <p class="cut">несов. – несовершенный вид</p>
        <p class="cut">сокр. – сокращённый</p> <p class="cut">фр. – французский</p>
    </div>
    <div class="footer">
        All rights are reserved. Защищено авторским правом. 2024 год.
    </div>
</body>
</html>
